<div class="navbar">
    <a class="commentLink" href="/">home</a>
    <a class="commentLink" href="/video1">video1</a>
    <a class="commentLink" href="/video2">video2</a>
    <a class="commentLink" href="/video3">video3</a>
</div>
